/* Main configurations */
body
{
   color:Black;
   background-color:#aF8A58;
   margin-top:10px 50px 10px 50px;
   font:12px verdana, arial, helvetica, sans-serif;
   line-height:1.8em;
}

a
{
   color:Black;
	background-color:inherit;
   text-decoration:underline;
   font-weight:bold;
}     

a:hover
{
   color:#006699;
	background-color:inherit;
   text-decoration:none;
}

img
{
   border:none;
}

input, select, textbox
{
   color:#000;
   border:#000 solid 1px;
   text-decoration:none;
   text-align:left;
   padding-left:3px;
   font-size:12px;
   background:#eFdAa8;
}

/* Main Classes */

.button, .button:hover	/* class to make a link act as a button */
{ 
	color:White; 
   background-color:#000; 
   font-size:10px;
	font-weight:normal;
	text-decoration:none;
   border:White 1px solid; 
   padding:2px;
}

.hilight
{
   font-weight:bold;
   border-bottom:Black dashed 1px;
}

.center
{
   text-align:center;
}

/* Script Status Display */
.status_forbiden
{
   color:Red;
}

.status_locked
{
   color:IndianRed;
}

.status_translated
{
   color:#00a;
}

.status_notdone
{
   color:Green;
}

.status_done
{
   color:DarkMagenta;
}

.fullComment
{
   font-size:10px;
}

/* Text Boxes */
.note	/* box with help text */
{
	color:Black; 
   background-color:#dFbA88; 
   font-size:8pt; 
	text-align:left;   
   border:#000 1px dashed;    
   padding:10px;
   margin:10px 30px 0 35px;
}

.note h3	/* Subtopics */
{
   color:White;
   background:#000 url(./imgs/search.png) no-repeat 5px; 
   font-weight:bold;
	font-size:15px;
	text-align:left;
   width:90%;
	padding:0 0 0 40px;
   margin:10px 0 0 0;
   border-top:#000 solid 1px;
   border-bottom:#000 solid 1px;
   border-left:#000 solid 3px;
   border-right:#000 solid 3px;
}

/* */
.dirs {
	color:#fDa65D;
   background:#000 none;
	text-align:left;
   font-size:12px;
   width:80%;
   margin:10px auto 0 auto;
}

.dirs input[class=button] {
   position:absolute;
	right:100px;
}


/*  */
.users
{
   width:80%;
   text-align:center;
   font-size:12px;
   margin:10px auto 0 auto;
	border:none;
}

.users td
{
   border:#000 solid 1px;
   height:10px;
   padding:0;
}

.users td.id
{
	color:#fDa65D;
   background:#000 none;
	font-weight:bold;
   width:30px;
}

.users td.nick {
	color:#fDa65D;
   background:#000 none;
	font-weight:bold;
    width:100px;
}
.users td.level {
	color:#fDa65D;
   background:#000 none;
	font-weight:bold;
    width:10px;
}
.users td.misc {
	color:#fDa65D;
   background:#000 none;
	font-weight:bold;
   width:150px;
}

.users td.file {
	color:#fDa65D;
   background:#000 none;
	font-weight:bold;
    width:50px;
}

.users td.comments {
	color:#fDa65D;
   background:#000 none;
	font-weight:bold;
   width:auto;
}

/* Containers */
/* */
#header
{  
   position:relative;
   left:50px;
	color:inherit;
   background:White url(imgs/logo.png) no-repeat;
   border:Black ridge 1px;
   height:128px;
   width:800px;
}

#header span	/* header text */
{
   position:relative;
   left:650px; 
   top:100px;
   color:#000;
	background-color:inherit;
   font-weight:bold;
   padding:75px 0 0 5px;
}

/* */
#menu
{
   position:relative;
	display:block;
   left:50px; 
	color:White;
	background-color:#000; 
	text-align:left;
	line-height:20px;
   letter-spacing:2px;
   height:20px;
   width:760px;   
   border:#000 ridge 1px;   
   list-style:none;
   padding:none;
   margin:none;   
}

#menu li
{
   display:inline;
   padding:none;
   margin:none;
}

#menu a
{  
   position:relative;
	color:White;
	background-color:inherit;
   font-size:10px;
   font-style:small-caps;
	font-weight:bold; 
   text-decoration:none;
	padding:3px;
}

#menu a:hover
{
   color:Black;
   background-color:#ededed;
   text-decoration:blink;
}

/* */
#main
{
   position:relative;  
   left:50px;
	text-align:center;
   border:#000 ridge 1px;
   width:800px;   
   margin-bottom:10px;
   padding-bottom:5px;
	background-color:White;
}

#main h2 {
   color:#fff;
   /* background:#009999 url(./imgs/revised.png) no-repeat 5px; */
	background-color:#000;
   font-weight:bold;
	font-size:15px;
   text-align:left;  
	vertical-align:middle;
   width:780px;
	height:28px;
   border-top:#000 solid 1px;
   border-bottom:#000 solid 1px;
   border-left:#000 solid 3px;
   border-right:#000 solid 3px;
   padding:5px 0 0 5px; 
   margin:10px 0 0 5px;
}

#main h2 img
{
	position:relative;
	text-align:right;
	margin:0;
   padding:0 5px 0 0;
	float:left;
}

#main table
{
   width:791px;
   padding:0; 
   margin:5px 0 0 5px;
   border-top:#000 solid 1px;
   border-bottom:#000 solid 1px;
   border-left:#000 solid 3px;
   border-right:#000 solid 3px;
	background-color:White;
}

#main tr
{
   background-color:White;
}

#main tr.odd
{
   background-color:#eFcA98;
}

#main td
{
   border:0px 1px 0px 1px;
   padding:0px 2px 0px 2px;
}

/* Table highlights */
#main tr:hover
{
	color:White;
   background-color:#CFAA78;
	
}

/*#main td:hover
{
	color:Black;
   background-color:#ededed;
}*/

/* list table cells header */
#main tr>td:first-child {
	text-align:left;
}

#main td.script
{
   width:155px;
   color:#fDa65D;
   background-color:#000;
	font-weight:bold;
	text-align:center;
}

#main td.size
{
   width:10px;
   color:#fDa65D;
   background-color:#000;
	font-weight:bold;
}

#main td.author
{
   width:15px;
   color:#fDa65D;
   background-color:#000;
	font-weight:bold;
}

#main td.version
{
   width:10px;
   color:#fDa65D;
   background-color:#000;
	font-weight:bold;
}

#main td.review
{
   width:10px;
   color:#fDa65D;
   background-color:#000;
	font-weight:bold;
}
  
#main td.comment
{
   width:auto;
   color:#fDa65D;
   background-color:#000;
	font-weight:bold;
}

/* Foot icons */
#iconsStart
{
   position:relative;  
   left:50px; 
   border:#000 ridge 1px;
   height:35px;
   width:800px;
   font-size:10px;
   text-align:center;
   padding-top:2px;
	background-color:#fff; 
}

#iconsEnd
{
   position:relative;  
   left:50px; 
   border-left:#000 ridge 1px;
	border-right:#000 ridge 1px;
	border-bottom:#000 ridge 1px;
	border-top:none;
   height:35px;
   width:800px;
   font-size:10px;
   text-align:center;
   padding-top:2px;
	background-color:#fff; 
}

/* Foot */   
#foot
{
   position:relative;  
   left:50px; 
   border:#000 ridge 1px;
   background-color:#000;          
   height:15px;
   width:800px;
   font-size:10px;
   text-align:center;
   line-height:15px;
   letter-spacing:2px;
	color:White;
}           

#foot a
{
	color:White;
   text-decoration:none;   
}